        .Xauthority
        .asoundrc
        AutostartError.txt
        AutostartErrorA.txt
        CalculateMarker.xlsx
        Calendar.inc
        ConnectWithCoreFtpLe.txt
        Copies/
        FtpFromPi.txt
        Images/
        InputList.txt
        InstallBme.txt
        JoshuaPyAudioErrors.txt
        LoadAndRunPySftp.txt
        LossesAndPpm.xlsx
        LossesAndPpmWithRevenue.xlsx
        ManualTransferSftpToServer.txt
        Marker1.xlsx
        Marker1AWithAveDFF.xlsx
        MarkerMax.xlsx
        MarkerMaxA.xlsx
        MattGray5x7.docx
        MattGrayRevised.docx
        MonitorOhms.xlsx
        MonitorPinout.xlsx
        NOxWavelengths.txt
        NaturalGasProducts.txt
        OilGasMonitor.txt
        OilGasMonitor/
        OilGasMonitorGoogleMapKey.txt
        Order724699Feb2017.txt
        Pi10/
        Pi2Backup20190106/
        PresentToMattGray.docx
        RampSource.wav
        RaspberryPi.txt
        RaspberryPiFpi.txt
        Sav522F.tmp
        Scan18_05_05/
        Scan18_06_05/
        Scan18_06_24/
        Scan18_07_16/
        Scan18_07_25/
        Scan18_07_31/
        Scan18_08_28/
        Scan18_09_01/
        Scan18_09_13/
        Scan18_10_05/
        Scan18_11_15/
        Scan18_12_15/
        Span.xlsx
        StartMonitorOnBoot.txt
        StartMonitorOnBootPythonDesktop.txt
        Startup/
        Update.txt
        UsingGit.txt
        bi5.txt
        common_OilGasMonitor.inc
        config.txt
        connection.inc
        desktop.txt
        dpkg-selections_pi.txt
        dpkg-selections_pi1.txt
        error1.txt
        ftpBatch.bat
        ftpBatch.txt
        installRerun.txt
        known_hosts
        mapCircles.txt
        monitor20190107FromRpi10.py
        monitorPermission.py
        monitorQ.py
        msStyle.css
        permissionError.txt
        plotx.txt
        quality.txt
        recover.txt
        scanfile.py
        short.txt
        smog.txt
        spectrumInDb.py
        spectrumInDbA.py
        syslog
        systemdPermission.txt
        tblPad.URL
        test.bat
        test.xml
        testAutostart.txt
        testMic.txt
        testMic.wav
        testMic24.wav
        testMic24_-20_20.wav
        testMic24_0_40.wav
        testMic51.wav
        testMic51_-20_20.wav
        testMic51_0_40.wav
        testMicA.py
        testMicBworks.py
        testMicCToTheDesktop.py
        testMicRecording.py
        testMicResults.txt
        testMicResultsA
        testMicResultsAAsSubmitted.txt
        testMicWithCalibration.py
        thonny.txt
        thonnyStartError.txt
        tracebackThonny.txt
        weather.txt
